{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-4 footer-1">
            <a class="navbar-brand" href="#"><img src="{% static 'resimler/logo33.png' %}" alt=""></a>
            <ul>
            <li>Likya Web Tasarim</li>
            <li>Kalkan Mah. Şehirler Cad. No <br> 16 Kaş Antalya</li>
            <li>0506 880 7577</li>
                <li>0850 466 23 57</li>
            </ul>
        </div>
        <div class="col-md-8 footer-2">
            <di class="row footer-menu-row">
                <a href="/referaslarımız">Referanslarımız</a>
                <a href="/hizmetlerimiz">Hizmetlerimiz</a>
                <a href="/referaslarımız">İletişim</a>
            </di>
        </div>
    </div>
</div>